body {
    margin:0px;
    }
    #container {
        background-color: powderblue;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }
    .cloud{
        width: 200px;
        height: 80px;
        background-color: mistyrose;
        border-radius: 40px;
        position: absolute;
    }
    
    .cloudBubble1{
        width: 100px;
        height: 100px;
        background-color: mistyrose;
        border-radius: 50px;
        position: absolute;
        top: -50px;
        left: 30px;
    }
    .cloudBubble2{
        width: 60px;
        height: 60px;
        background-color: mistyrose;
        border-radius: 30px;
        position: absolute;
        top: -30px;
        right: 30px;
    
    }